.idea
venv
.vscode
back/config.yml
back/mod_cache
back/steamcmd_dir
back/test
back/pz_python
back/pz-python
back/modpacks
back/Frameworks
back/steamcmd.tar.gz
back/logs/*.*
back/pidfile
**/__pycache__/*
back/*.log
back/pidfile_*

