<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Sales Overview -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-5">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100 flex-column">
          <mat-card-title>Server Status</mat-card-title>
          <app-server-status></app-server-status>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100 flex-column">
          <mat-card-title>Send Command</mat-card-title>
          <app-server-send-command></app-server-send-command>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
