<table mat-table [dataSource]="mods$" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="WorkshopItems">
    <th mat-header-cell *matHeaderCellDef>Workshop id</th>
    <td mat-cell *matCellDef="let item" class="v-align-top">{{item.publishedfileid}}</td>
  </ng-container>

  <ng-container matColumnDef="Mods">
    <th mat-header-cell *matHeaderCellDef>Mods</th>
    <td mat-cell *matCellDef="let item" class="v-align-top">
      <span *ngFor="let mod of item.Mods">{{mod}}<br/></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let item" class="v-align-top">
      <mat-chip *ngFor="let tag of item.tags" disabled>{{tag.display_name}}</mat-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="preview_url">
    <th mat-header-cell *matHeaderCellDef>Preview</th>
    <td mat-cell *matCellDef="let item" class="v-align-top">
      <img class="preview_url" src="{{item.preview_url}}"/>
    </td>
  </ng-container>
  <ng-container matColumnDef="file_description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let item" class="v-align-top">
      <div class="description-container" [class.expanded]="isExpanded(item.publishedfileid)">
        <h2>{{item.title}}</h2>
        <div class="description-content" [innerHTML]="item.file_description | bbcodeToHtml"></div>
      </div>
      <button mat-icon-button
              (click)="toggleDescription(item.publishedfileid)"
              [class.expanded]="isExpanded(item.publishedfileid)">
        <mat-icon>{{ isExpanded(item.id) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item" class="v-align-top">

    </td>
  </ng-container>
</table>
