[Unit]
Description=Project Zomboid Server
Requires=projectzomboid.socket
After=network.target

[Service]
PrivateTmp=true
Type=exec
User=ubuntu
WorkingDirectory=/app/pz_server/
ExecStart=/app/pz_server/start-server.sh
ExecStop=/bin/sh -c "echo quit > /run/zomboid.sock"
StandardInput=socket
StandardOutput=journal
StandardError=journal
Sockets=projectzomboid.socket
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target