[Unit]
Description=Project Zomboid Server Manager
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/pz_server_manager/start.sh
WorkingDirectory=/home/ubuntu/pz_server_manager/back
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
