[Unit]
Description=Project Zomboid Server Manager
After=network.target

[Service]
Type=forking
ExecStart=/home/ubuntu/pz_server_manager/start-manager.sh
WorkingDirectory=/home/ubuntu/pz_server_manager
User=root
Group=root
Restart=always
RestartSec=5s
PIDFile=/home/ubuntu/pz_server_manager/back/pidfile

[Install]
WantedBy=multi-user.target
