<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <mat-icon aria-hidden="false"
            color="{{ (status$ | async) ? 'accent':'warn'}}"
            aria-label="status icon"
            matTooltip="{{ (status$ | async) ? 'server running':'server stopped'}}"
            fontIcon="{{ (status$ | async) ? 'link':'link_off'}}"
  ></mat-icon>

  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
    P
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <div class="p-x-12 m-t-12">
      <a [routerLink]="['/authentication/login']"
         mat-stroked-button
         color="primary"
         class="w-100">
        Logout
      </a>
    </div>
  </mat-menu>
</mat-toolbar>
